/* .App {
  text-align: center;
} */

.header-logo-btn {
  display: flex;
  display: inline-block;
  vertical-align: middle;
}

.logo {
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Sacramento', cursive; */
  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Tangerine', cursive; */
  font-family: 'The Nautigal', cursive;
  text-align: left;
}

header button {
  text-align: justify;
  border: none;
}

.products-btn {
  border: none;
  background-color: white;
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

.header-btn {
  background-color: white;
  cursor: pointer;
  display: inline-block;
  border: none;
}

.login-btn,
.signup-btn {
  background-color: white;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.signup-btn:hover,
.login-btn:hover,
.category-btn:hover {
  background-color: rgb(240, 238, 223);
}

.signup-btn:active,
.login-btn:active,
.category-btn:active {
  background-color: rgb(236, 229, 192);
  transform: translateY(2px);
}

#carouselExampleCaptions {
  text-align: center;
}

.carousel-slide img {
  width: 700px;
  height: 400px;
}

footer {
  text-align: center;
  margin-top: 50px;
}

.about-us,
.contact {
  margin-right: 50px;
}

.about-us,
.contact,
.delivery {
  background-color: white;
  cursor: pointer;
  display: inline-block;
}