.App {
  text-align: center;
}

header {
  display: flex;
  display: inline-block;
}

.header-buttons {
  display: flex;
  display: inline-block;
  
}
.categories label {
  margin-left: 10px;
}

.categories button {
  border: none;
  background-color: white;
}

.header-btn {
  background-color: white;
  cursor: pointer;
  display: inline-block;
  border: none;
}

.login-btn {
  background-color: white;
  cursor: pointer;
  display: inline-block;
}

.signup-btn:hover {
  background-color: white;
}

.signup-btn:active {
  background-color: rgb(126, 126, 126);
  transform: translateY(3px);
}